<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="blog">
    <meta name="author" content="ry">
    <meta HTTP-EQUIV="Refresh" CONTENT="30">

    <link rel="stylesheet" type="text/css" href="mystyle.css">

    <title>阮颖的个人博客</title>
</head>
<body>
<h1>阮颖的个人博客</h1>
<!--添加水平线-->
<hr>
<!--添加github链接-->
<a href="https://github.com/Helloworld152">我的github地址</a>
<!--HTML 使用标签 <b>("bold") 与 <i>("italic") 对输出的文本进行格式, 如：粗体 or 斜体
Remark	通常标签 <strong> 替换加粗标签 <b> 来使用, <em> 替换 <i>标签使用。-->
<p>我的个人博客主要包括<sub>1234</sub>自己学习<sup>1234</sup><br><strong><em>编程的笔记</em></strong></p>

<p>My favorite color is <del>blue</del> <ins>red</ins>!</p>

<p STYLE="color: BLUE;margin-left: 30px;">The <abbr title="World Health Organization">WHO</abbr>was found in 1948.</p>

<address>
    Written by <a href="mailto:webmaster@example.com">Jon Doe</a><br>
    Visit us at:<br>
    Example.com<br>
    Box 564, Disneyland<br>
    USA
</address>

<p><bdo dir="rtl">该段文字从右到左显示.</bdo></p>

<blockquote cite="http://www.worldwildlife.org/who/index.html">
    For 50 years, WWF has been protecting the future of nature.
    The worlds leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.
</blockquote>

<q>Build a future where people live in harmony with nature.</q><br>

<a href="https://github.com/Helloworld152" target="_blank">访问我的github</a>

<a id="tips">有用的提示部分</a>
<a href="#tips">访问有用的提示部分</a>

<table border="1">
    <caption>My Matrice</caption>
    <tr>
        <th>Header1</th>
        <th>Header2</th>
    </tr>
    <tr>
        <td>row 1, cell 1</td>
        <td>row 1, cell 2</td>
    </tr>
    <tr>
        <td>row 2, cell 1</td>
        <td>row 2, cell 2</td>
    </tr>
</table>

<ul>
    <li>snckned</li>
    <li>snmxjknds</li>
</ul>

<ol>
    <li>sanmjxcsn</li>
    <li>snjcdnbvj</li>
</ol>

<div style="color: #0000FF;">
    <h3>sbujfbdeu</h3>
    <p>nskfnk</p>
</div>

<div id="container" style="width: 500px">
    <div id="header" style="background-color: #FFA500;">
        <h1 style="margin-bottom: 0;">主要的网页标题</h1>
    </div>

    <div id="menu" style="background-color: #FFD700;height: 200px;width: 100px;float: left;">
        <b>菜单</b><br>
        HTML<br>
        CSS<br>
        JavaScript<br>
    </div>

    <div id="content" style="background-color: #EEEEEE;height: 200px;width: 400px;float: left;">内容在这里</div>

    <div id="footer" style="background-color: #FFA500;clear: both;text-align: center">
        版权所有
    </div>
</div>

<form name="input" action="snj.php" method="get">
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="password">

    <input type="submit" value="Submit">
</form>

<form>
    <input type="radio" name="sex" value="male">Male<br>
    <input type="radio" name="sex" value="female">female
</form>

<form>
    <input type="checkbox" name="vehicle" value="Bike">I have a bike<br>
    <input type="checkbox" name="vehicle" value="Car">I have a car
</form>

<!--简单的下拉列表-->
<form action="">
    <select name="cars">
        <option value="volvo">Volvo</option>
        <option value="saab" selected>Saab</option><!--预选值-->
        <option value="fiat">Fiat</option>
    </select>
</form>

<!--多行文本框-->
<label>
    <textarea rows="10" cols="30">ok</textarea>
</label><br>

<!--创建按钮-->
<input type="button" value="hello">

<form>
    <fieldset>
        <legend>个人信息</legend>
        姓名: <input type="text"><br>
        邮箱: <input type="text"><br>
        生日: <input type="text">
    </fieldset>
</form>

<iframe src="index.html" frameborder="0"></iframe>

<script>
    document.write("Hello, World")
</script>
<noscript>
    抱歉，您的浏览器不支持JavaScript.
</noscript>

<p class="serif">times</p>

</body>
</html>